<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <link rel="stylesheet" href="/css/reset.css" />
  <% if (stylesheets && stylesheets.length) { %>
    <% stylesheets.forEach(function(sheet){ %>
      <link rel="stylesheet" href="<%= sheet %>" />
    <% }) %>
  <% } %>
  <body>
    <%- include('partials/header') %>

    <main>
      <!-- â† this is where your page content goes -->
      <%- include(page) %>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
